@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.container {
	padding-top: 36rem;
	padding-bottom: 48rem;
}

.title {
	margin-bottom: 18rem;
}

.logosContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: -6rem;
}

.logo {
	margin: 0 2.4rem 6rem;
	max-width: 30rem;

	img {
		display: block;
		width: 100%;
	}
}

a.logo {
	transition: all 0.3s;

	&:hover {
		opacity: 0.8;
		transform: scale(1.02);
	}
}

@include whenLarge {
	.container {
		padding-top: 24rem;
		padding-bottom: 32rem;
	}

	.title {
		margin-bottom: 12rem;
	}

	.logo {
		max-width: 24rem;
	}
}

@include whenMedium {
	.container {
		padding-bottom: 22rem;
	}

	.logo {
		max-width: 18rem;
	}
}

@include whenSmall {
	.container {
		padding-top: 16rem;
		padding-bottom: 15rem;
	}

	.logo {
		max-width: 14rem;
	}
}
