@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.title {
	margin-bottom: 20rem;
}

.logosContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: -6rem;
}

.logo {
	margin: 0 2rem 6rem;
}

@include whenLarge {
}
