@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.container {
	padding-top: 36rem;
	padding-bottom: 48rem;
}

.title {
	margin-bottom: 18rem;
}

.logosContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: -6rem;
}

.logoContainer {
	&:nth-of-type(1),
	&:nth-of-type(3),
	&:nth-of-type(8),
	&:nth-of-type(10) {
		flex-basis: 33%;
	}

	&:nth-of-type(1),
	&:nth-of-type(4),
	&:nth-of-type(8) {
		text-align: right;

		.logo {
			margin-left: 0;
		}
	}

	&:nth-of-type(3),
	&:nth-of-type(7),
	&:nth-of-type(10) {
		text-align: left;
		.logo {
			margin-right: 0;
		}
	}

	&:nth-of-type(4),
	&:nth-of-type(7) {
		flex-basis: 25%;
	}
}

.logo {
	margin: 0 2.4rem 6rem;
	max-width: 30rem;
	color: $color-dark-charcoal;
	display: inline-block;

	svg {
		display: block;
		width: 100%;
	}
}

.logo,
:global(body.dark) .logo {
	transition: all 0.3s;
	cursor: pointer;
	&:hover {
		color: $color-cta;
	}
}

:global(body.dark) {
	.logo {
		color: $color-bright-grey;
	}
}

@include whenLarge {
	.container {
		padding-top: 24rem;
		padding-bottom: 32rem;
	}

	.title {
		margin-bottom: 12rem;
	}

	.logo {
		max-width: 21rem;
	}
}

@media only screen and (max-width: 960px) {
	.logoContainer {
		&:nth-of-type(1n) {
			flex-basis: unset;
			text-align: center;
			.logo {
				margin: 0 1.8rem 6rem;
			}
		}
	}
}

@include whenMedium {
	.container {
		padding-bottom: 22rem;
	}

	.logo {
		max-width: 18rem;
	}
}

@include whenSmall {
	.container {
		padding-top: 16rem;
		padding-bottom: 15rem;
	}

	.logo {
		max-width: 18rem;
	}
}
