@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.header {
	background-color: $color-header-background;
	border-bottom: 2px solid $color-cta;

	// positioning
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	padding: 1.2rem 0;
	position: relative;
	z-index: 1000;
}
