@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.header {
	background-color: $color-background;
	// background-color: cadetblue;
	padding: 1.8rem 0;
	margin-top: 6.6rem;
	// positioning
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 168rem;
}

.logo {
	position: relative;
	z-index: 1000;
	color: black;

	svg {
		display: block;
	}
}

.toggle,
.clock {
	font-size: $font-size-18;
	color: #ccc;
	font-weight: 500;
}

.toggle {
	background-color: transparent;
	text-transform: uppercase;
	margin-left: 1.6rem;
}

:global(body.dark) {
	.header {
		background-color: $color-background-dark;
	}

	.logo {
		color: white;
	}
}
