@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.header {
	background-color: $color-background;
	padding: 1.8rem 0;
	margin-top: 6rem;

	// positioning
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 168rem;
}

.logo {
	position: relative;
	z-index: 1000;
	color: black;
	width: 100%;
	max-width: 18rem;

	svg {
		display: block;
	}
}

.toggle,
.clock {
	font-size: $font-size-18;
	color: #ccc;
	font-weight: 500;
}

.clock {
	margin-right: 3.6rem;
	color: $color-cta;
}

.toggle {
	background-color: transparent;
	text-transform: uppercase;
	margin-left: 1.6rem;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	line-height: 1.2;
}

:global(body.dark) {
	.header {
		background-color: $color-background-dark;
	}

	.logo {
		color: white;
	}
}

@include whenMedium {
	.header {
		padding: 1.8rem 0;
		margin-top: 4rem;
	}

	.toggle,
	.clock {
		font-size: $font-size-16;
	}

	.clock {
		margin-right: 1.6rem;
	}

	.logo {
		max-width: 14rem;
	}
}
