@import "@globalStyles/mixins";

.textContainer {
  padding-left: 4.8rem;
}

.imageContainer {
  max-width: 66rem;
}

.title {
  max-width: 100rem;
  margin-bottom: 6rem;
  line-height: 1.33;
}

@include whenLarge {
  .textContainer {
    padding-left: 0rem;
  }
}
@include whenMedium {
  .textContainer {
    padding-left: 0;
    margin-top: 6rem;
  }
}
