@import '@globalStyles/mixins';

.container {
	position: relative;
}

.sectionContainer {
	padding-right: 6rem;
	margin-right: 0;
	position: sticky;
	top: 35rem;
	flex: 1;
	height: 80rem;

	&:last-of-type {
		padding-right: 0;
	}

	&:nth-of-type(2) {
		margin-top: 50rem;
	}
	&:nth-of-type(3) {
		margin-top: 100rem;
	}
}

.label {
	color: $color-cta;
	font-weight: 700;
	margin-bottom: 0.8rem;
}

.description {
	margin-top: 7.5rem;
	font-size: $font-size-18;
}

:global(body.dark) {
	.label {
		color: #666;
	}
}

@include whenLarge {
	.sectionContainer {
		height: 64rem;
		top: 25rem;
	}

	.description {
		margin-top: 4.5rem;
	}
}

@include whenMedium {
	.container {
		padding-bottom: 24rem;
	}

	.sectionContainer {
		padding-right: 0;
		margin-bottom: 6rem;
		position: relative;
		height: auto;
		top: 0;

		&:nth-of-type(2) {
			margin-top: 0;
		}
		&:nth-of-type(3) {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.description {
		margin-top: 3rem;
	}
}

@include whenSmall {
	.container {
		padding-bottom: 16rem;
	}
}
