@import '@globalStyles/mixins';

.container {
	padding-bottom: 32rem;
}

.flexContainer {
	justify-content: space-between;
}

.imageContainer {
	margin-left: -8rem;
	max-width: 80rem;
}

.textContainer {
	max-width: 82rem;
}

@media only screen and (max-width: 1480px) {
	.title {
		font-size: $font-size-36;
	}
}

@include whenLarge {
	.container {
		padding-bottom: 22rem;
	}
	.imageContainer {
		margin-left: -6.4rem;
	}
}

@media only screen and (max-width: 1280px) {
	.title {
		font-size: $font-size-30;
	}
}

@include whenMedium {
	.imageContainer {
		margin-left: 0;
	}
}

@include whenSmall {
	.title {
		font-size: $font-size-24;
	}
	.container {
		padding-bottom: 15rem;
		justify-content: center;
	}
}

@media only screen and (max-width: 480px) {
	.title {
		font-size: $font-size-20;
	}
}
