@import '@globalStyles/mixins';

.container {
	padding-bottom: 32rem;
}

@include whenLarge {
	.container {
		padding-bottom: 22rem;
	}
}

@include whenSmall {
	.container {
		padding-bottom: 15rem;
	}
}
