@import '@globalStyles/variables';

.button {
	padding: 1.4rem 3rem;
	cursor: pointer;
	color: #333;
	font-size: 3rem;
	font-weight: 500;
	background-color: transparent;
	border: 2px solid #333;
	border-radius: 6rem;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s;
	box-shadow: 0px 0px hsl(0, 0%, 20%);
	min-width: 30rem;

	svg {
		margin-left: 2.4rem;
	}
}

:global(body.dark) {
	.button {
		border-color: hsla(0, 0%, 93%, 1);
		color: hsla(0, 0%, 93%, 1);
	}
}
