@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.container {
	padding-top: 18rem;
}

.imagesContainer {
	position: relative;
	max-width: 60rem;
}

.marginBottom {
	margin-bottom: 6rem;
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 4rem;
}

.button {
	background-color: transparent;
	text-align: left;
	margin-bottom: 6rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.excerptContainer {
	padding-right: 4rem;
}

.title {
	line-height: 1;
}

.list {
	max-width: 60.5rem;
	.dot {
		display: flex;
		&::before {
			content: '\00b7';
			margin-right: 1rem;
		}
	}
}

.subList {
	.dash {
		display: flex;
		&::before {
			content: '\2013';
			margin-right: 1rem;
			margin-left: 2.5rem;
		}
	}
}

@include whenLarge {
	.container {
		padding-top: 12rem;
	}

	.marginBottom {
		margin-bottom: 4.5rem;
	}

	.button {
		margin-bottom: 4.5rem;
	}
}

@include whenMedium {
	.imagesContainer {
		margin-bottom: 4.5rem;
	}

	.buttonsContainer,
	.excerptContainer {
		padding-right: 0;
	}

	.buttonsContainer {
		margin-bottom: 0;
	}
}

@include whenSmall {
	.container {
		padding-top: 8rem;
	}

	.title {
		font-size: $font-size-30;
	}

	.excerpt {
		font-size: $font-size-20;
	}

	.imagesContainer,
	.marginBottom,
	.button {
		margin-bottom: 3rem;
	}
}
