@import './fonts';

///////////////// colors /////////////////
$color-text: hsla(0, 0%, 20%, 1);
$color-text-primary: hsla(0, 0%, 0%, 1);
$color-text-tertiary: hsl(240, 4%, 36%);

$color-text-accent: hsla(0, 0%, 93%, 1);
$color-text-accent-primary: hsla(0, 0%, 93%, 1);
$color-text-accent-tertiary: hsl(0, 0%, 84%);

$color-cta: #44fe70;
$color-background: hsl(0, 0%, 100%);
$color-background-accent: hsl(0, 0%, 95%);
$color-background-dark: hsl(0, 0%, 0%);

$color-dark-charcoal: #333;
$color-bright-grey: #eee;

///////////////// fonts /////////////////
$font-family: 'Moderat Mono', sans-serif;
$font-family-title: 'Moderat', sans-serif;

$font-size-16: 1.6rem;
$font-size-18: 2.2rem;
$font-size-20: 2rem;
$font-size-24: 2.9rem;
$font-size-30: 3rem;
$font-size-36: 4.5rem;
$font-size-48: 5.4rem;
$font-size-60: 7rem;

///////////////// sizes /////////////////
$breakpoint-xsmall: 25em; // 400px
$breakpoint-small: 37.5em; // 600px
$breakpoint-medium: 67.5em; // 1080
$breakpoint-large: 90em; // 1440px
$wrapper-width: 164rem;
$wrapper-small-width: 66rem;
$flex-column-gap: 2rem;
$flex-row-gap: 2rem;
