@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:first-of-type {
		margin-bottom: 7rem;
	}
}

.logo {
	color: black;
}

.nav,
.smallText {
	font-family: $font-family-title;
	font-weight: 500;
}

.nav a {
	color: hsla(0, 0%, 20%, 1);
	margin-left: 3rem;
	font-size: $font-size-24;

	&:hover {
		color: #ccc;
	}
}

.smallText {
	font-size: $font-size-18;
	color: hsla(0, 0%, 60%, 1);
}

:global(body.dark) {
	.nav a {
		color: $color-text-accent;
		&:hover {
			color: #666;
		}
	}

	.logo {
		color: white;
	}
}

@include whenMedium {
	.nav a {
		font-size: $font-size-20;
	}

	.smallText {
		font-size: $font-size-16;
	}
}
