@import '@globalStyles/mixins';

.container {
	padding-top: 36rem;
	padding-bottom: 18rem;
}

.imageContainer {
	max-width: 66rem;
	padding-right: 6rem;
}

.title {
	transform: translateX(-9.8rem);
}

.author {
	margin-top: 6rem;
	display: flex;

	p {
		margin-bottom: 0;
	}

	div {
		margin-left: 1.6rem;
	}
}

@include whenLarge {
	.container {
		padding-top: 24rem;
		padding-bottom: 12rem;
	}
}

@include whenMedium {
}

@include whenSmall {
	.container {
		padding-top: 16rem;
		padding-bottom: 8rem;
	}
}
