@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.title {
	font-size: $font-size-60;
	font-family: $font-family-title;
}

.center {
	text-align: center;
}

.md {
	font-size: $font-size-48;
}

.sm {
	font-size: $font-size-36;
}

@include whenLarge {
	.title {
		font-size: $font-size-48;
	}

	.md {
		font-size: $font-size-36;
	}

	.sm {
		font-size: $font-size-24;
	}
}

@include whenMedium {
	.title {
		font-size: $font-size-36;
	}

	.md {
		font-size: $font-size-30;
	}

	.sm {
		font-size: $font-size-24;
	}
}
